<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Force HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Ensure requests are routed to the /public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /public/$1 [L]

    # Route requests to the Laravel index.php
    RewriteRule ^(/)?$ public/index.php [L]
</IfModule>
