<IfModule mod rewrite.c>
Options +FollowSmyLinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/public/

RewriteCond %{REQUEST_FILANAME} !-d
RewriteCond %{REQUEST_FILANAME} !-f

RewriteRule ^(.*)$ /public/$1
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L]
</IfModule>