.section1 {
    border: 2px solid red;
    display: flex;
    position: inherit;
    height: 100%;


    .box-container {
        display: flex;
        flex-direction: row;
        height: inherit;
        width: 100%;

        .left-text {
            position: relative;
            z-index: 1;
            border: 2px dashed blue;
            
            padding-left: 10%;
            display: flex;
            justify-content: right;
            align-items: center;
    
            .left-text-center {
                border: 2px solid orange;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
    
                .fast-delivery {
                    border-radius: 0 50px 50px 0;
                    margin-top: 120px;
                    padding: 3px;
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    width: 140px;
                    background: linear-gradient(to left, rgba(0, 0, 0, 0.45) -0%, rgba(0, 0, 0, 0) 100%);
    
                    p {
                        font-size: 13px;
                        margin: 0 0 0 10px;
                        padding: 0;
                    }
    
                    img {
                        margin: 0;
                        padding: 0;
                        margin-left: 10px;
                        width: auto;
                        height: 1.5rem;
                    }
                }
    
                .easy-pickup {
                    padding: 0;
    
                    p {
                        font-weight: bold;
                        font-size: 38px;
                        margin: 0 0 10px 0;
                        padding: 0;
                    }
                }
    
                .make-order {
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    .order-btn {
                        background-color: #2437c9;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        font-size: 12px;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: background-color 0.3s ease, color 0.3s ease;
    
                        &:hover {
                            background-color: #4ca948;
                            color: black;
                        }
    
                        &:focus {
                            outline: none;
                        }
                    }
                }
    
                .bring-pasto {
                    margin-top: 40px;
    
                    p {
                        font-weight: bold;
                        margin: 0;
                    }
                }
    
                .app-play-store {
                    margin-top: 10px;
    
                    a {
                        text-decoration: none;
                        display: inline-block;
                        margin-right: 10px;
    
                        #play-store,
                        #app-store {
                            padding: 0;
                            height: 40px;
                        }
                    }
                }
    
                .todays-dish {
                    margin-top: 80px;
    
                    a {
                        font-size: 13px;
                        text-decoration: none;
                        color: rgb(91, 91, 219);
                        width: auto;
                        display: inline-block;
    
                        &:hover {
                            color: rgb(28, 28, 172);
                            text-decoration: underline;
                        }
    
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    
        .right-image {
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; // Make the div take the full screen
            display: flex;
            justify-content: center; // Center the image horizontally
            align-items: center; // Center the image vertically
            overflow: hidden; // Hide the overflowing parts of the image
          
            img {
              display: block; // Remove extra space around the image
              width: 100%; // Ensure image takes full width of its container
              height: 100%; // Ensure image takes full height of its container
              object-fit: cover; // Ensures image is scaled properly to cover the container, without stretching
              object-position: center center; // Keep the image centered
            }
          }
                 
    }
}

/* Media Queries for Responsiveness */
