.section1 {
    background-image: url('/public/images/client/bg-homepage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(245, 21, 32, 0.13);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }

    .left-text {
        flex: 1;
        padding: 0;
        display: flex;
        flex-direction: column;
        
        .fast-delivery, .easy-pickup, .make-order, .bring-pasto, .app-play-store, .todays-dish{
            margin-left: 100px;
        }

        // .fast-delivery {
        //     border: 2px solid rgb(60, 37, 37);
        //     margin-top: 90px;
        //     margin-bottom: 5px;
            
        //     .fading-box{
        //         border: 2px solid rgb(13, 255, 0);
        //         display: flex; // Ensure the width adapts to the content
        //         align-items: center;
        //         width: 150px; // Automatically adjusts to the width of the content
        //         background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        //         p {
        //             font-size: 15px;
        //             margin: 0;
        //             padding: 0;  
        //         }
            
        //         img {
        //             border: 1px solid black;
        //             margin-left: 10px; // Adds space between the text and the image
        //             width: auto;       // Adjusts width automatically to match the height of the font
        //             height: 1.99rem;     // Matches the image height to the font size
        //         }
        //     }
        // }

        .fast-delivery {
            border-radius: 0 50px 50px 0;
            margin-top: 90px;
            padding: 3px;
            margin-bottom: 5px;
            display: flex; 
            align-items: center;
            width: 140px;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.45) -0%, rgba(0, 0, 0, 0) 100%);
            
            p {
                font-size: 13px;
                margin: 0 0 0 10px;
                padding: 0;
            }
                
            img {
                margin: 0;
                padding: 0;
                margin-left: 10px;
                width: auto; 
                height: 1.5rem;  
            }
        }
        
        
        .easy-pickup{
            padding: 0;
            p {
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
                font-weight: bold;
                font-size: 40px;
                margin: 0 0 10px 0;
                padding: 0;
            }            
        }

        .make-order {
            display: flex;
            justify-content: left;
            align-items: center;
        
            .order-btn {
                background-color: #2437c9;
                color: white;
                border: none;
                padding: 10px 20px;
                font-size: 12px;
                border-radius: 50px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease; 
        
                &:hover {
                    background-color: #4ca948; 
                    color: black;
                }
        
                &:focus {
                    outline: none;
                }
            }
        }
        
        
        .bring-pasto{
            margin-top: 40px;

            p{
                font-weight: bold;
                margin: 0;
            }
        }

        .app-play-store {
            margin-top: 10px;
        
            a {
                text-decoration: none;
                display: inline-block;
        
                #play-store,
                #app-store {
                    padding: 0;
                    height: 40px;
                }
            }
        }
        
        

        .todays-dish {
            margin-top: 80px;
        
            a {
                font-size: 13px;
                text-decoration: none;
                color: rgb(91, 91, 219);
                width: auto;
                display: inline-block;
        
                &:hover {
                    color: rgb(28, 28, 172);
                    text-decoration: underline;
                }
        
                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }        
    }

    .right-image {
        flex: 1;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        
        img {
            width: 61%;
            height: auto;
            margin: 0
        }
    }
}
