$background: rgba(255, 255, 255, 0.7);
$text-color: #ffffff;
$header-color:rgba(146, 146, 146, 0.507);
$submenu-color: rgba(123, 121, 121, 0.913);
$link-color: #000000;
$link-color2: #fa7373dc;
$textcolor: rgba(0, 0, 0, 1);
$sidebar-color: rgba(57, 55, 62, 0.9);
$container-width: 90%;
$upon-hovering: rgba(72, 66, 66, 0.845);